p22/p2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/p2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="p2" targetNamespace="http://www.example.org/p2/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/p2/">
      <xsd:element name="SolicitarPresupuesto">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="numeroUnidades" type="xsd:int"></xsd:element>
          	<xsd:element name="referenciaProducto" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SolicitarPresupuestoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrdenarCompra">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="numeroUnidades" type="xsd:int"></xsd:element>
      			<xsd:element name="referenciaProducto"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="OrdenarCompraResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStock">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="numeroUnidades" type="xsd:int"></xsd:element>
      			<xsd:element name="referenciaProducto"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStockResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarPresupuestoRequest">
    <wsdl:part element="tns:SolicitarPresupuesto" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SolicitarPresupuestoResponse">
    <wsdl:part element="tns:SolicitarPresupuestoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OrdenarCompraRequest">
  	<wsdl:part name="parameters" element="tns:OrdenarCompra"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrdenarCompraResponse">
  	<wsdl:part name="parameters" element="tns:OrdenarCompraResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarStockRequest">
  	<wsdl:part name="parameters" element="tns:ActualizarStock"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarStockResponse">
  	<wsdl:part name="parameters" element="tns:ActualizarStockResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="p2">
    <wsdl:operation name="SolicitarPresupuesto">
      <wsdl:input message="tns:SolicitarPresupuestoRequest"/>
      <wsdl:output message="tns:SolicitarPresupuestoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="OrdenarCompra">
    	<wsdl:input message="tns:OrdenarCompraRequest"></wsdl:input>
    	<wsdl:output message="tns:OrdenarCompraResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
    	<wsdl:input message="tns:ActualizarStockRequest"></wsdl:input>
    	<wsdl:output message="tns:ActualizarStockResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="p2SOAP" type="tns:p2">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="SolicitarPresupuesto">
  		<soap:operation
  			soapAction="http://www.example.org/p2/SolicitarPresupuesto" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="OrdenarCompra">
  		<soap:operation
  			soapAction="http://www.example.org/p2/OrdenarCompra" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="ActualizarStock">
  		<soap:operation
  			soapAction="http://www.example.org/p2/ActualizarStock" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="p2">
    <wsdl:port binding="tns:p2SOAP" name="p2SOAP">
      <soap:address location="http://localhost:9080/p22/services/p2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
